* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
    margin-top: 0px;
   font-family: 'Merriweather', serif;

}

.container{
    width: 1200px;
   
    height: 2000px;
    -ms-flex-item-align: center;
    align-self: center;
    margin: 0px auto;
    padding: 0 auto;
}

/*header*/
header{
  width: 100%;
  height:600px;
  background: linear-gradient(to bottom,
  rgba(12,96,133, .4),
  rgba(235,90,71, .6),
  rgba(33,55,85)
  ), url(fondo.jpg);
  
}
nav{
  width: 1200px;
  position: fixed;/* se queda siempre en la pantalla*/
  border-bottom: #000 solid 5px;



}
.header{
  background: #c8c7c7;
  height: 80px;
  color:#243755;
  font-weight: 700;

}
.container-menu{
  display: flex;
  margin: auto;
  width: 90%;
  justify-content: space-between;
  align-items: center;
 
  height:inherit;
}
nav .nav-list a{
  display: inline-block;
  padding: 5px 0;
  margin-right: 17px;
  font-family: 'Merriweather', serif;
  font-size: 17px;
  font-weight: 300;
  text-decoration: none;
  border-bottom: 3px solid transparent;/*linea de abajo*/
  color: inherit;/*herede el color de su padre*/
}
nav .nav-list a:hover{
  border-bottom: 3px solid #eb5a47;
  transition: 0.6s;
}

.container-imagen{
  width: 100%;
  height: 100%;
  font-size: 30px;
  
  display:flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color:#243755;
  overflow: hidden;
  text-align: center;
   font-family: 'Merriweather', serif;
}
.container-imagen__texto{
  width: 900px;
  height: 60px;
  text-align: center;
  background: rgb(200,199,199,.6);

}
.container-logo{
font-family: 'Merriweather', serif;
color:#243755;
display: flex;
align-items: center;
text-align: center;
justify-content: center;

}

.container-logo, .container-logo img{ height:80px;}