body{
    margin-top: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    width: 1200px;
    background-color: #888888;
    height: 2000px;
    align-self: center;
    margin: 0px auto;
    padding: 0 auto;
}

.header{
    background-color: aqua;
    height: auto;
    
}

.container-menu{
    height: 60px;
    background-color: antiquewhite;
    display: flex;
    width: 100%;

}
.container-logo{
    width: 100%;
    height: inherit;
    background-color: azure;
    text-align: center;
}

.site-title{
    margin: 0;
    padding: 0.36em 0;
}

.container-imagen{
    background-image: url('./bg.png');
    height: 240px;
    /* margin-bottom: 20px; */
}

.nav-list{
    padding: 0.25em 0;
    list-style-type: none;
    text-align: end;
    width: 100%
}

.nav-element{
    padding: 1em 15px;
    display: inline-block;
    text-decoration: none;
    color: #3e3e3e;

}

.nav-element:hover{
    text-decoration: underline;
    font-weight: bold;
}

.image-text{
    margin: 0;
    padding: 9% 0;
    text-align: center;
}

.section-1{
    height: 500px;
    background-color: rebeccapurple;

}

.section-2{
    height: 500px;
    background-color: gainsboro;
}

.section-3{
    height: 500px;
    background-color: coral;
}

.footer{
    height: 200px;
    background-color: yellowgreen;
    bottom: 0px;
    /* position: fixed; */
    /* width: 1200px; */
}

.section-text{
    margin: 0;
    color: #3e3e3e;
    background: white;
    font-weight: bold;
    text-align: center;
}

.col-3{
    width: 33.08%;
    height: 470px;
    background-color: aquamarine;
    display: inline-block;
    padding: -15px;
    margin-top: 5px;
    text-align: center;
}

.service-content{
    padding: 0.5em 0;
}
.service-text{
    padding: 10px;
    text-align: justify;
    bottom: 0;
}


